*{box-sizing: border-box;
padding: 0px;
margin: 0px;}

body{background-image: url('https://i.pinimg.com/736x/41/71/60/417160fd776e269339ba5f2cf2738f56.jpg');
background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover ;
}

header{background-image: url('https://i.pinimg.com/736x/41/71/60/417160fd776e269339ba5f2cf2738f56.jpg');
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover ;
    padding-top: 20px;
    padding-bottom: 40px;
text-align: center;
}

header > h1{color:#00d9ff ;
margin: 20px;
font-size: 20px;

}

header > p{color: white;
font-size: 3rem;
margin-bottom: 15px;

}



header > nav > a{ display: flex;
    justify-content: center;
    max-width: 200px;
background-color: #00d9ff;
text-decoration: none;
color: #0a0a1a;
margin-left: auto;
margin-right: auto;
margin-top: 20px;
padding:10px;
border-radius: 10px;
}

.mapa{background-image: url('https://i.pinimg.com/736x/41/71/60/417160fd776e269339ba5f2cf2738f56.jpg');
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover ;
}

.mapa>h2{color: #00d9ff;
font-size: 30px;
margin: 5px;
}

.mapa>p{color: white;
font-size: 40px;
margin: 5px;
}
#sec{color: gray;
font-size: 15px;
margin: 10px;}

div.img01 img{display: line;
    background-color: rgba(128, 128, 128, 0.203);
    padding: 20px;
    width: 500px;
    height: auto;
    max-width: 400px;
}

section.skins>h2{color: #00d9ff;
font-size: 30px;
margin-top: 10px;
margin-left: 20px;
}

section > p{color: aliceblue;
font-size: 35px;
margin: 15px;
}

div.first{color: white;
background-color: #16213e;
padding: 15px;
border-radius: 10px;
max-width: 400px;
margin-left: 15px;

}
div.first>p{color: gray;}

div.sec{color: white;
    background-color: #16213e;
    padding: 15px;
    margin-left: 15px;
    margin-top: 10px ;
    border-radius: 10px;
    max-width: 400px;
}
div.sec > p{color: gray;}

section.p2>h2{color: #00d9ff;
padding-top: 30px;
font-size: 15px;
margin-left: 20px;
}

section.p2 > p{color: white;
font-size: 38px;
padding-bottom: 20px;}


div.tab{color: aliceblue;
    display: flex;
    padding-bottom: 35px;


}

#tab1{display: flex;
background-color: #16213e;
margin-left: 25px;
margin-right: 10px;
max-width: 110px;
border-radius: 10px;
padding: 20px;
width: 120px;
justify-content: center;
}
span >p{display: flex;
justify-content: center
;
text-align: center;}

#tab2{display: flex;
background-color: #16213e;
margin-left: 25px;
margin-right: 10px;
max-width: 110px;
border-radius: 10px;
padding: 20px;
width: 120px;
justify-content: center;}

#tab3{display: flex;
background-color: #16213e;
margin-left: 25px;
margin-right: 10px;
max-width: 110px;
border-radius: 10px;
padding: 15px;
width: 120px;
justify-content: center;}

footer.pe{background-color: #16213ec1;
display: flex;
color: aliceblue;
max-width: 600px;
margin-left: 400px;
margin-bottom: 40px;
border-radius: 10px;
padding: 30px; flex-direction: column;
align-items: center;}

footer.pe > h2{display: flex;
    margin: 20px
;
}

footer.pe > p{margin: 10px;}

footer > a{text-decoration: none;
color: #00d9ff;
background-color: #16213e;
border: 1px solid #00d9ff ;
margin-bottom: 20px;
padding: 20px;
max-width: 400px;}
